.calendar-container {
  text-align: center;
  padding: 20px;
}

.calendar {
  max-width: 800px;
  margin: 0 auto;
}

.consulta-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

.pro-btn {
  align-items: center;
  width: 205px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}
